# Include documentation
include README.md
include LICENSE

# Include configs
recursive-include configs *.json

# Include datasets
recursive-include datasets *.csv *.tsv *.json

# Include configs
recursive-include configs *.json

# Exclude tests and development files
recursive-exclude tests *
recursive-exclude use-case *
recursive-exclude docs *
recursive-exclude .github *
exclude .gitignore
exclude .readthedocs.yaml
